# Question 1

In [76]:
listOne = [3,6,9,12,15,18,21]

In [77]:
listTwo = [4,8,12,16,20,24,28]

In [78]:
listOne[1:6:2]

[6, 12, 18]

In [79]:
listTwo[0:7:2]

[4, 12, 20, 28]

In [80]:
print(listOne[1:6:2]+listTwo[0:7:2])

[6, 12, 18, 4, 12, 20, 28]

# Question 2

In [81]:
a = [34,54,67,89,11,43,94]

In [82]:
a.remove(11)

In [83]:
a.insert(2, 11)

In [84]:
a.insert(8, 11)

In [116]:
print(a)

[34, 54, 11, 67, 89, 43, 94, 11]

# Question 3

In [117]:
b = [11, 45, 8, 23, 14, 12, 78, 45, 89]

In [118]:
b[0:3]

[11, 45, 8]

In [119]:
list(reversed(b[0:3]))

[8, 45, 11]

In [120]:
b[3:6]

[23, 14, 12]

In [121]:
list(reversed(b[3:6]))

[12, 14, 23]

In [122]:
b[6:9]

[78, 45, 89]

In [124]:
list(reversed(b[6:9]))

[89, 45, 78]

# Question 4

In [7]:
List = [11, 45, 8, 11, 23, 45, 23, 45, 89]

In [8]:
print("Original list",List)
dis = {}
while List != []:
    count = [i for i in List if i == List[0]]
    dis.update({List[0]:len(count)})
    tmp = List[0]
    for i in range(len(count)):
        List.remove(tmp)
        
print("Count each of item", dis)

Original list [11, 45, 8, 11, 23, 45, 23, 45, 89]
Count each of item {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

# Question 5

In [172]:
e = [2, 3, 4, 5, 6, 7, 8]

In [173]:
e2 = [4, 9, 16, 25, 36, 49, 64]

In [174]:
print({(e[4],e2[4]),(e[6],e2[6]),(e[2],e2[2]),(e[3],e2[3]),(e[1],e2[1]),(e[5],e2[5]),(e[0],e2[0])})

{(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

# Question 6

In [181]:
a = {65, 42, 78, 83, 23, 57, 29}

In [182]:
b = {67, 73, 43, 48, 83, 57, 29}

In [183]:
c = a.intersection(b)

In [184]:
print(c)

{57, 83, 29}

In [185]:
print(a-b)

{65, 42, 78, 23}

# Question 7

In [9]:
first = {57, 83, 29}
second = {67, 73, 43, 48, 83, 57, 29}

In [10]:
print("\nFirst Set ",end=" ")
for i in first :
    print(i,end=" ")

First Set  57 83 29

In [11]:
print("\nSecond Set ",end=" ")
for i in second :
    print(i,end=" ")

Second Set  67 73 43 48 83 57 29

In [12]:
print("\n\nFirst Set is Subset of second set - ",first.issubset(second))
print("Second set is subset of first set - ",second.issubset(first))
print("\n\nFirst Set is Subset of second set - ",first.issuperset(second))
print("Second set is subset of first set - ",second.issuperset(first))

First Set is Subset of second set -  True
Second set is subset of first set -  False


First Set is Subset of second set -  False
Second set is subset of first set -  True

In [13]:
print("\n\nFirst Set ",set())
print("Second Set ",end=" ")
for i in second :
    print(i,end=" ")

First Set  set()
Second Set  67 73 43 48 83 57 29

# Question 8

In [22]:
rn = [47, 64, 69, 39, 76, 83, 95, 97]
sdict = {"jhon":47,"Emma":69,"Kelly":76,"Kason":97}

In [23]:
print("Given: ")
print("rn = ",rn)
print("sdict = ",sdict)
print("\nExpected Outcome:")
tmp = sdict.values()
tmp2 = [47, 64, 69, 39, 76, 83, 95, 97]
for i in range(len(tmp2)):
    if tmp2[i] not in tmp :
        rn.remove(tmp2[i])
print("after removing unwanted element from list ",rn)

Given:
rn =  [47, 64, 69, 39, 76, 83, 95, 97]
sdict =  {'jhon': 47, 'Emma': 69, 'Kelly': 76, 'Kason': 97}

Expected Outcome:
after removing unwanted element from list  [47, 69, 76, 97]

# Question 9

In [27]:
s = {"jan":47,"feb":52,"march":47,"april":44,"may":52,"june":53,"july":54,"aug":44,"sept":54}
values_new = s.values()
tmp = []
for i in values_new :
    if i not in tmp :
        tmp.append(i)
tmp

[47, 52, 44, 53, 54]

# Question 10

In [28]:
s = [87, 45, 41, 65, 94, 41, 99, 94]
print("For Example :")
print("sList = ",s)
tmp = []
for i in s :
    if i not in tmp :
        tmp.append(i)
s = tmp
print("Expected Outcome :")
print("Unique Items = ",s)
print("tuple = ",tuple(s))
print("min : ",min(s),"max : ",max(s))

For Example :
sList =  [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome :
Unique Items =  [87, 45, 41, 65, 94, 99]
tuple =  (87, 45, 41, 65, 94, 99)
min :  41 max :  99